.vega-checkbox {
    display: flex;
    align-items: center;
    color: #000000;
}

.vega-checkbox__input {
    display: flex;
    align-items: end;
    opacity: 1;
}

.vega-checkbox__label {
    margin-left: 8px;
}

.vega-checkbox__label--small + .vega-checkbox__input {
    font-size: 15px;
    align-items: center;
}

.vega-checkbox__label--medium {
    font-size: 20px;
}

.vega-checkbox__label--large {
    font-size: 25px;
}

.vega-checkbox__input:checked + .vega-checkbox__label {
    color: #007bff;
}

.vega-checkbox__input:disabled + .vega-checkbox__label {
    color: #6c757d;
}
