:root {

    --neutral-0: #ffffff;
    --neutral-100: #f3f4f6;
    --neutral-200: #e5e7eb;
    --neutral-300: #d1d5db;
    --neutral-900: #111827; 
    --black: #000000;       

    --primary-500: #6d28d9;      
    --success-500: #22c55e;     
    --error-500:   #ef4444;      
  
    --bg-surface:  var(--neutral-0);
    --bg-disabled: var(--neutral-100);

    --text-main:        var(--neutral-900);
    --text-secondary:   var(--neutral-300);
    --text-inverse:     var(--neutral-0);   

    --border-default:  var(--neutral-300);
    --border-focus:    var(--neutral-900);
    --border-error:    var(--error-500);
    --border-success:  var(--success-500);

    --color-primary: var(--primary-500);
    --color-secondary: var(--neutral-200);
    --color-error:   var(--error-500);
    --color-success: var(--success-500);

    --color-bg-hover: var(--neutral-800);
  }